.footer {
  background-color: #fff;
  border-radius: 6px;
  height: 65px;
  overflow: hidden;
  padding: 24px;
  font-size: 15px;
  color: #6d6b77;
  font-weight: 300;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  span {
    color: #7367f0;
  }
}
