.form {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 24px;
  font-size: 15px;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  margin: 50px 0;

  hr {
    background-color: #444050;
  }

  h1 {
    color: #444050;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top: 1px solid #e0e0e0;
    padding: 24px 0 0 0;
  }

  select {
    height: 40px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
    color: #444050;
    border-color: #70707040;
    appearance: none;
    &:focus-visible {
      outline: none;
    }
  }

  &_btn {
    display: block;
    width: 120px;
    margin: 0 auto;
    background-color: #7367f0;
    color: #fff;
    border-radius: 6px;
    overflow: hidden;
    padding: 8px 20px;
    height: 40px;
    font-size: 15px;
    font-family: publicSans, sans-serif;
    font-weight: 500;
  }

  input {
    border: 1px solid #adadad40;
    overflow: hidden;
    border-radius: 6px;
    padding: 10px;
    height: 40px;
    &::placeholder {
      font-family: publicSans, sans-serif;
      font-size: 13px;
    }
  }

  &_msg {
    font-size: 14px;
    color: #7367f0;
    height: 16px;
  }
}
